html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
header,
main,
footer,
section {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

p + p {
	margin-top: 1em;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

ul,
ol {
	list-style-type: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

img,
picture,
svg {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
